<div class="container">

    <h1>📖 Random Quote Generator</h1>

    <div class="quote-card">

        <p id="quote">
            Click the button to generate a random quote.
        </p>

        <h3 id="author"></h3>

        <span id="category"></span>

    </div>

    <div class="buttons">

        <button id="newQuote">
            New Quote
        </button>

        <button id="copyQuote">
            Copy
        </button>

        <button id="shareQuote">
            Share
        </button>

    </div>

</div>

<script src="/js/index.js"></script>